import { chromium, selectors } from "playwright";
async function login() {
  const browser = await chromium.launch({ headless: false });
  const page = await browser.newPage();
  await page.goto(
    "https://georgius1024.github.io/vue-e-commerce-lorem-ipsum-project"
  );
  await page.getByText("Login").click();
  await page.waitForSelector("button", { name: "Login" });
  await page.getByLabel("Login").fill("customer");
  await page.getByLabel("Password").fill("password");
  await page.getByRole("button", { name: "Login" }).click();
  await page.waitForSelector("span", { name: "John D. Dow" });
  console.log('Logged in...')

  await browser.close();
}

login();
