import { test, expect } from '@playwright/test';

test('Lorem ipsum', async ({ page }) => {
  await page.goto('https://georgius1024.github.io/vue-e-commerce-lorem-ipsum-project/');
  await expect(page.getByRole('heading', { name: 'Project-name' })).toBeVisible();
  await page.getByRole('link', { name: 'Services' }).click();
  await expect(page.getByRole('heading', { name: 'Services' })).toBeVisible();
  await page.getByRole('link', { name: 'Prices' }).click();
  await expect(page.getByRole('heading', { name: 'Prices' })).toBeVisible();
  await page.getByRole('link', { name: 'Contacts' }).first().click();
  await expect(page.getByRole('heading', { name: 'Contacts' })).toBeVisible();
  await expect(page.locator('iframe')).toBeVisible();
  await expect(page.getByRole('link', { name: 'Login' })).toBeVisible();
  await page.getByRole('link', { name: 'Login' }).click();
  await expect(page.getByRole('button', { name: 'Login' })).toBeVisible();
  await page.getByLabel('Login').fill("customer");
  await page.getByLabel('Password').fill("password");
  await page.getByRole('button', { name: 'Login' }).click();
});